<template name="blog_text">
	<div id="text_blog">
		<div id="published">
			KT community
		</div>
		<div class="small_line"></div>
		<div id="small_post" class="wider">
			<div class="small_title">
				What's all the fuss?
			</div>
			    <p>We brew all our tea with safe & clean kitchen products in Santa Barbara, CA. To ensure the utmost integrity of our great kombucha, we use a filtered water reverse osmosis-system and add quality leaves to the...<a href="#">Read More</a></p>
		</div>
	</div>
	<div id="text_blog" class="space">
		<div id="published">
			KT community
		</div>
		<div class="small_line"></div>
		<div id="small_post" class="wider">
			<div class="small_title">
				What's all the fuss?
			</div>
			    <p>We brew all our tea with safe & clean kitchen products in Santa Barbara, CA. To ensure the utmost integrity of our great kombucha, we use a filtered water reverse osmosis-system and add quality leaves to the...<a href="#">Read More</a></p>
		</div>
	</div>
	<div id="text_blog" class="space">
		<div id="published">
			KT community
		</div>
		<div class="small_line"></div>
		<div id="small_post" class="wider">
			<div class="small_title">
				What's all the fuss?
			</div>
			    <p>We brew all our tea with safe & clean kitchen products in Santa Barbara, CA. To ensure the utmost integrity of our great kombucha, we use a filtered water reverse osmosis-system and add quality leaves to the...<a href="#">Read More</a></p>
		</div>
	</div>
</template>