<template name="blog_pics">
	<div id="blog_pics_wrap">
		<div id="published">
			KT community
		</div>
		<div class="long_line"></div>
		<div id="small_post">
			<img src="../../images/small_pic.png" width="136" height="95" alt="Small Pic">
			<div class="small_title">
				Black vs White Tea?
			</div>
			Kombucha is simply a brewed sweet-tea that ferments with a (SCOBY) symbiotic colony of bacteria and yeast. It can... <a href="#">Read More</a>
		</div>
		
		<div id="small_post" class="space">
			<img src="../../images/small_pic.png" width="136" height="95" alt="Small Pic">
			<div class="small_title">
				Black vs White Tea?
			</div>
			Kombucha is simply a brewed sweet-tea that ferments with a (SCOBY) symbiotic colony of bacteria and yeast. It can... <a href="#">Read More</a>
		</div>
		
		<div id="small_post" class="space">
			<img src="../../images/small_pic.png" width="136" height="95" alt="Small Pic">
			<div class="small_title">
				Black vs White Tea?
			</div>
			Kombucha is simply a brewed sweet-tea that ferments with a (SCOBY) symbiotic colony of bacteria and yeast. It can... <a href="#">Read More</a>
		</div>
	</div>
</template>