<template name="footer">
	<div id="footer">
		<div class="groove"></div>
		<div id="skinny_groove" class="high"></div>
		<div id="menu" class="footer">
			<ul>
				<li><a><h1>NEWS</h1></a><img src="../../images/nav_circle.png" width="4" height="4" alt="Nav Circle"></li>
				<li><a><h1>MAP</h1></a><img src="../../images/nav_circle.png" width="4" height="4" alt="Nav Circle"></li>
				<li><a><h1>DIRECTORY</h1></a><img src="../../images/nav_circle.png" width="4" height="4" alt="Nav Circle"></li>
				<li><a><h1>RESOURCES</h1></a></li>
			</ul>
		</div>
		<div id="halo"></div>
	</div>
</template>