<template name="poll">
	<div id="poll">
		<div id="published" class="poll_text">
			KT poll of the day
		</div>
		<div id="article_title" class="poll_text">
			<b>Do you like Kombucha?</b>
		</div>
		<div class="dotted_line_poll"></div>
		<ul class="poll_chart">
			<a class="poll_text" href="#">Yes</a>
			<li class="poll_text">
				<div class="blue_meter"</div>
			</li>
			<a class="poll_text" href="#">No</a>
			<li class="poll_text">
				<div class="blue_meter"</div>
			</li>
			<a class="poll_text" href="#">I've never tried</a>
			<li class="poll_text">
				<div class="blue_meter"</div>
			</li>
			<a class="poll_text" href="#">Huh?</a>
			<li class="poll_text">
				<div class="blue_meter"</div>
			</li>
		</ul>
	</div>
</template>