<template name="right_post">
	<div id="right_post">
		<div class="left_icon">
			<img src="../../images/dining.png" width="52" height="52" alt="Dining">
		</div>
		<div id="article_title">
			<b>Kombucha now being served in Gay Bars</b>
		</div>
		<div id="author">
			James Gillmore  <h3>May 24th, 2013</h3>
		</div>
		<div class="article">
			<div class="picture_left">
				<img src="../../images/left_pic.png" width="250" height="166" alt="Left Pic">
			</div>
			<div class="description">
				Kombucha is simply a brewed sweet-tea that ferments with a (SCOBY) symbiotic colony of bacteria and yeast. It can offer a variety of benefits depending on the type of tea leaves, quality of products, and a number of... <a href="#">Read More</a>
			</div>
		</div>
		<div class="dotted_line"></div>
	</div>
</template>