<template name="video_player">

			<div class="left_icon">
				<img src="../../images/shaker.png" width="26" height="53" alt="Shaker" style="margin-left:20px;">
			</div>
			<div id="article_title">
				<b>Kombucha now being served in Gay Bars</b>
			</div>
			<div id="author">
				James Gillmore  <h3>May 24th, 2013</h3>
			</div>
			<div class="article">
				<div class="video">
					<img src="../../images/vid-pic.png" width="320" height="250" alt="Vid Pic">
				</div>
				<div class="description">
					We brew all our tea with safe & clean kitchen products in Santa Barbara, CA. To ensure the utmost integrity of our great kombucha, we use a filtered water reverse osmosis-system and add quality leaves to the steeping process. Then we add the tea to a SCOBY to bring the tea alive! Since all the tea is live during the fermentation process, we provide a clean-air breathing environment and talk to all our tea to show our gratitude for the love we have for every batch...<a href="#">Read More</a>
				</div>
			</div>
			<div class="dotted_line"></div>

</template>
