#blog_pics_wrap {
padding-top:12px;
}
.long_line {
background: url('../../images/dotted_line_right.png') no-repeat;
width: 100%;
height:1px;	
margin-top: 5px;	
}
#small_post {	
width: 148px;	
float: left;
margin-top: 20px;
margin-bottom: 20px;
}
.vertical_line {
background: url('../../images/vertical_line.png') no-repeat;
width: 1px;
height: 240px;	
float: left;
clear: right;
margin-top: 20px;
}